<% provide(:title, 'About Us')  %>

<h1>About Us</h1>
<p>
	The Alumni Connection website and Android application is a senior
	project developed by Deborah Stone, Timothy Daniel and Reginald Daniel
	during the Spring of 2013 at Valdosta State University. Assigned by 
	professor Dr. Zhiguang Xu.
</p>