<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for posting a new job, <%= @user.name %></h1>
    <p>
      You have successfully posted a job listing for a/an <%= @job_posting.position %> at <%= @job_posting.company %>.
    </p>
    <p>
    </p>
    <p>Thank you,</p>
    <p>Your friends at Alumni Connection!</p>
  </body>
</html>